body{
    height: 800px;
    width: 960px;
    margin:auto;
}

p{
    line-height: 1.3343;
}

nav{
    height: 65px;
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size:16px;
    margin-top:20px;
}

#home{
    height:38px;
    width: 128px;
    margin-right: 5px;
    float:left;
    text-align: center;
    padding-top:17px;
    border-radius: 2px;
    background-color: #005580;
    transition-duration: 0.1s;
}

#home:hover{
    background-color: black;
    transition-duration: 0.3s;
}

#music{
    height:38px;
    width: 128px;
    margin-right: 5px;    
    float:left;
    padding-top:17px;
    text-align: center;
    border-radius: 2px;
    background-color: #005580;
    transition-duration: 0.1s;
}

#music:hover{
    background-color: black;
    transition-duration: 0.3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
}
/* Dropdown Content (Hidden by Default) */
#dropdown-content {
    height:37px;
    width: 128px;
    display: none;
    background-color: #005580;
    padding-top:17px;
    text-align:center;
    color:white;
    font-size: 16px;
    margin-top:6px;
    border-radius: 2px;

}

#platzhalter{
    height: 59px;
    width: 128px;
    position: absolute;
    z-index: 1;
    display: none;
    margin-top:54px;
    margin-left:133px;
}

#platzhalter1{
    height: 59px;
    width: 128px;
    position: absolute;
    z-index: 1;
    display: none;
    margin-top:54px;
    margin-left:532px;
}

/* Links inside the dropdown */
#dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

#dropdown-content:hover{
        background-color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover #dropdown-content {
    display: block;
    transition-duration: 0.3s;
}

.dropdown:hover #platzhalter {
    display: block;
    transition-duration: 0.3s;
}

.dropdown:hover #platzhalter1 {
    display: block;
    transition-duration: 0.3s;
}

#video{
    height:38px;
    width: 128px;
    margin-right: 5px;
    float:left;
    padding-top:17px;
    text-align: center;
    background-color: #005580;
    border-radius: 2px;
    transition-duration: 0.1s;
}

#video:hover{
    background-color: black;
    transition-duration: 0.3s;
}

#photo{
    height:38px;
    width: 128px;
    margin-right: 5px;
    float:left;
    padding-top:18px;
    text-align: center;
    background-color: #005580;
    border-radius: 2px;
    transition-duration: 0.1s;
}

#photo:hover{
    background-color: black;
    transition-duration: 0.3s;
}

#canvai{
    height:40px;
    width: 162px;
    margin-right: 5px;
    float:left;
    padding-top:15px;
    text-align: center;
    background-color: black;
    border-radius: 2px;
    transition-duration: 0.1s;
}

#canvai:hover{
    background-color: #005580;
    transition-duration: 0.3s;
}

#canvai1{
    display: none;
    height:40px;
    width: 295px;
    margin-right: 5px;
    float:left;
    padding-top:15px;
    text-align: center;
    background-color: black;
    border-radius: 2px;
    transition-duration: 0.1s;
}

.moving{
        display: none;
}

.ppVideo1{
    display: none;
}

.video1{
        display: none;
}

.neueUber{
        display: none;
}

.twidda{
    display: none;
}

#toggle{
    display: none;
}

#menu{
    display: none;
}

.onlyMobileLine{
        margin-top:5%;
        width: 100%;
        margin-bottom: 10%;
        display: none;
}

#login{
    height:38px;
    width: 128px;
    float:right;
    padding-top:17px;
    text-align: center;
    background-color: #005580;
    border-radius: 2px;
    transition-duration: 0.1s;
}

#login{
    height:38px;
    width: 128px;
    float:right;
    padding-top:17px;
    text-align: center;
    background-color: #005580;
    border-radius: 2px;
    transition-duration: 0.1s;
}

#login:hover{
    background-color: black;
    transition-duration: 0.3s;
}

.logo_header{

}

a:link{
    text-decoration: none;
    color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration: none;
    color:white;
}

a:active{
    text-decoration: none;
    color:white;
}

h1{
    padding-top:44px;
    text-align:center;
    font-size:26px;
    font-weight:normal;
}

.homeLine{
    margin-top:-15px;

}

article{
    font-size:16px;
}

#video1Text{
    width: 580px;
    height:100px;
    text-align: justify;
    word-wrap: break-word;
    padding: 0px 200px 0px 200px;
    border-radius: 2px;
    margin-right:50px;
    margin-top:-20px;

}

.buttons{
    width: 960px;
    height: 40px;
    margin-top: 70px;
    font-size: 16px;
    cursor: pointer;
}

#piano{
    width: 40px;
    height:27px;
    float:left;
    margin-right: 30px;
    background-color:#233142;
    padding-left:20px;
    padding-right:20px;
    padding-top:9px;
    text-align: center;
    color:#e6e6e6;
    transition-duration: 0.1s;
}

#piano:hover{
    background-color: #005580;
    cursor: pointer;
    transition-duration: 0.3s;
}

#house{
    width: 40px;
    height:27px;
    float:left;
    margin-right: 30px;
    background-color:#233142;
    padding-left:20px;
    padding-right:20px;
    padding-top:9px;
    text-align: center;
    color:#e6e6e6;
    transition-duration: 0.1s;
}

#house:hover{
    background-color: #005580;
    cursor: pointer;
    transition-duration: 0.3s;
}

#chill{
    width: 80px;
    height:27px;
    float:left;
    margin-right: 30px;
    background-color:#233142;
    padding-left:20px;
    padding-right:20px;
    padding-top:9px;
    text-align: center;
    color:#e6e6e6;
    transition-duration: 0.1s;
}

#chill:hover{
    background-color: #005580;
    cursor: pointer;
    transition-duration: 0.3s;
}

#new{
    width: 40px;
    height:27px;
    float:left;
    margin-right: 30px;
    background-color:#233142;
    padding-left:20px;
    padding-right:20px;
    padding-top:9px;
    text-align: center;
    color:#e6e6e6;
    transition-duration: 0.1s;
}

#new:hover{
    background-color: #005580;
    cursor: pointer;
    transition-duration: 0.3s;
}

@-moz-document url-prefix(){
    audio {
        width: 300px;
        margin-bottom: -5px;
    }
}

.audio1{
    float:left; 
    width:300px;
    border: solid black 2px;
    border-radius: 5px;
    margin-right: 24px;
}

.audio2{
    float:left; 
    width:300px;
    border: solid black 2px;
    border-radius: 5px;
}

.audio3{
    float:right; 
    width:300px;
    border: solid black 2px;
    border-radius: 5px;
}

.audio4{
    clear: both;
    float:left; 
    width:300px;
    border: solid black 2px;
    border-radius: 5px;
    margin-right: 24px;
    margin-top:50px;
}

.audio5{
    float:left; 
    width:300px;
    border: solid black 2px;
    border-radius: 5px;
    margin-top:50px;
}

.audio6{
    float:right; 
    width:300px;
    border: solid black 2px;
    border-radius: 5px;
    margin-top:50px;
    margin-bottom: 70px;
}

.audio11{
    width: 300px;
}

.audioYo{
    font-style: italic;
    text-align: center;
    text-align: justify;
}

.kursiv{
    font-style: italic;
    font-weight: 100;
}

.audio12{
    padding-left:20px;
}

.audio111{
    padding-left:20px;
    padding-right: 20px;
    text-align: justify;
}

#section1{
    height:80px;

}

#section2{
    width:960px;
    height:220px;
}

.lineMiddle{
    margin-top:70px;
    margin-bottom:70px;
    height:1px;
    border:0;
    border-top:1px solid black;
    border-color: black;
    width:780px;
}

#section3{
    width:960px;
    margin-top: 50px;
}

footer{
    clear:both;
    height:77px;
    padding-left:20px;
    padding-top:11px;
    padding-right:20px;
    width:920px;
    border-top:2px solid black;
}

#footLeft{
    float:left;
    margin-right: 130px;
    margin-left:60px;
}

.footerFacebook{
    margin-top:20px;
    padding-right:20px;
}

#footMiddle{
    float:left;
    margin-right:60px;
    padding-top:30px;
}

#footRight{
    float:right;
    padding-top:13px;
    margin-right:60px;
}





@media only screen and (max-width: 415px) {

    body {
        width: 320px;
    }
    
    #home{
        display: none;
    }
    
    #music{
        display: none;
    }
    
    #video{
        display: none;
    }
    
    #photo{
        display: none;
    }
    
    #canvai{
        width: 130px;
        margin-left:20px;
        display: none;
    }
    
    #canvai1{
    display: block;
            width: 130px;
        margin-left:20px;
    }
    
/* Important styles */
#toggle {
  display: block;
  width: 10%;
  height: 30px;
  float:right;
  margin-right: 30px;
  margin-top:23px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
}
#toggle span:after{
  top: 15px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 40px;
  height: 10px;
  background-color: black;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: black;
}
#toggle.on span:before {
  transform: rotate(0deg) translate(0px, 0px);
}
#toggle.on span:after {
  transform: rotate(-0deg) translate(0px, 0px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
    display: block;
  position: absolute;
  text-align:center;
  color: black;
  margin-top:60px;
  margin-left:20px;
  width: 130px;
  height: 259px;
  border-radius: 2px;
  background: #005580;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}

@-moz-document url-prefix() {
    #menu {
        height: 270px;
    }
}

#menu:after {
  position: absolute;
}
ul, li, li a {

  list-style: none;
  display: block;
  margin: 0;
  padding:0;

}
li a {
border-top: solid white 2px;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: all .2s;
}


    
    #login{
        display: none;
    }
    
    .homeLine{
        width: 90%;
        margin-bottom: -30px;
    }
    
    .trennl{
                width: 80%;
                display: none;
    }
    
    .lineMiddle{
        display: none;
    }
    
    .onlyMobileLine{
        margin-top:5%;
        width: 100%;
        margin-bottom: 10%;
    }
    
    .hide1{
        display:none;   
    }
    
    .hideYourSide1{
        display: block;
    }
    
    #kreis{
        display: none;
    }
    
    .yourSide1 {
        display:none;
    }
    
    .yourSide{
        display: none;
    }
    
    #dreieck1{
        display: none;
    }
    

    
    .textHide{
        display: none;
    }
    
    .left1{
        margin-top:-20px;
        margin-left:5%;
        width: 90%;
        height: 162px;
        clear: both;
    }
    
    .right1{
        display: none;
    }
    
    .left2{
        margin-top:-20px;
        margin-left:5%;
        width: 90%;
        height: 162px;
        clear: both;
    }
    
    .right2{
        margin-left:5%;
        float:left;
        width: 90%;
        height: 200px;
        margin-right: 0px;
        padding:0px;
        margin-top:20px;
    }
    
    #section1{
        width: 100%;
    }
    
    #photoSection{
        width: 90%; 
        height: 1000px;
        margin-top:60px;
        margin-left:9px;
        
    }
    
    div.gallery{
        margin-bottom:20px;
    }
    
    div.galleryRight{
        clear: both;
        float:left;
        margin: 5px 27px 5px 0px;
    }
    
    .notMoving{
        display: none;
    }
    
    .moving{
        display: block;
    }
    
    div.galllery {
    margin: 20px 5px 5px 0px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    border-radius: 3px;
    margin-bottom:50px;
    }

    div.galllery img {
    width: 300px;
    height: 170px;
    }
    
    #section2{
        width: 100%;
        height: 285px;
    }
    
    .video1{
        display: block;
        width: 90%;
        border-top: dashed 1px black;
    }
        
    #section3{
        margin-left: 2.5%;
        width: 90%;
        height: auto;
        margin-bottom: 0px;
        margin-top:20px;
    }
    
    #section4{
        width: 100%;
        height: 340px;
        margin-bottom: 0px;
        margin-top:20px;
    }
    
    #section5{
        width: 100%;
        height: 350px;
        margin-bottom: 0px;
        margin-top:20px;
    }
    
    .hidddde{
        display: none;
    }
    
    #video1Text{
        margin-left:5%;
        float:left;
        width: 90%;
        height: 200px;
        margin-right: 0px;
        padding:0px;
        border-bottom: none;
    }
    
    .buttons{
    width: 100%;
    height: 40px;
    margin-top:0px;
    padding-top:0px;
    font-size: 16px;
}

#piano{
    margin-top:20px;
    width: 40px;
    height:27px;
    float:left;
    margin-right: 30px;
    background-color:#233142;
    padding-left:20px;
    padding-right:20px;
    padding-top:9px;
    text-align: center;
    color:#e6e6e6;
    transition-duration: 0.1s;
}

#piano:hover{
    background-color: black;
    cursor: pointer;
    transition-duration: 0.3s;
}

#house{
    margin-top:55px;
    width: 40px;
    height:27px;
    float:left;
    margin-right: 9px;
    background-color:#233142;
    padding-left:20px;
    padding-right:20px;
    padding-top:9px;
    text-align: center;
    color:#e6e6e6;
    transition-duration: 0.1s;
}

#house:hover{
    background-color: black;
    cursor: pointer;
    transition-duration: 0.3s;
}

#chill{
    margin-top:55px;
    width: 60px;
    height:27px;
    float:left;
    margin-right: 5px;
    background-color:#233142;
    padding-left:20px;
    padding-right:40px;
    padding-top:9px;
    text-align: center;
    color:#e6e6e6;
    transition-duration: 0.1s;
}

#chill:hover{
    background-color: black;
    cursor: pointer;
    transition-duration: 0.3s;
}

#new{
    margin-left:5%; 
    margin-top:55px;
    width: 30px;
    height:27px;
    float:left;
    margin-right: 9px;
    background-color:#233142;
    padding:none;
    text-align: center;
    color:#e6e6e6;
    transition-duration: 0.1s;
}

#new:hover{
    background-color: black;
    cursor: pointer;
    transition-duration: 0.3s;
}

#audio1{
    margin-bottom:20px;
}

#audio2{
    margin-bottom:20px;
}

#audio3{
    float:left;
    margin-bottom:20px;
}

#audio4{
    margin-bottom:20px;
    margin-top:0px;
}

#audio5{
    margin-bottom:20px;
    margin-top:0px;
}

#audio6{
    margin-top:0px;
    float:left;
    margin-bottom: 20px;
}

#audio1{
    margin-bottom:20px;
}

#audio1{
    margin-bottom:20px;
}
    
    .neueUber{
        display: block;
        margin-bottom: -1px;
    }
    
    .alteUber{
        display: none;
    }
    
    .yours{
        clear: both;
        margin:0px;
        width: 90%;
    }
    
    #video2Text{
        margin-left:5%;
        float:left;
        width: 90%;
        height: 100px;
        margin-bottom: 15%;
        text-align: justify;
        word-wrap: break-word;
    }
    .ppVideo{
        display: none;
    }
    
    .ppVideo1{
        display: block;
        float:left;
        width: 40%;
        margin:0px;
        margin-left:7%;
        padding:0px;
        border-radius: 11px;
    }
    
    .muteButton{
        margin-top:225px;
        margin-left:-130px;
    }
    
    .playButton{
        margin-top: 225px;
        margin-left: -260px;
    }
    
    footer{
        margin-left:5%;
        margin-top:10%;
        width: 90%;
        height: 100px;
        padding:0px 0px 0px 0px;
        border-top: solid 2px black;
    }
    

    
    #footLeft{
        display: none;
    }
    
    .footerFacebook{
        margin:0px 0px 0px 0px; 

    }
    
    #footMiddle{
        width: 100%;
        padding:0px 0px 0px 0px;
        margin:10% 0px 0px 0px;
        
    }
    
    .twidda{
        float:right;
        display: inline;
        margin-left:7%;
        margin-top:-3%;

    }
    
    #footRight{
        display: none;
    }   
}


